@page "/ProductList"

@inject HttpClient api
@inject NavigationManager nav

<h4>Product List</h4>

<QuickGrid Items="@products">
    <PropertyColumn Property="@(p => p.Id)" />
    <PropertyColumn Property="@(p => p.Name)" />
    <PropertyColumn Property="@(p => p.Description)" />
    <PropertyColumn Property="@(p => p.Category)" />
    <TemplateColumn>
        <button class="btn btn-primary" @onclick="@(() => Edit(context))">Edit</button>
    </TemplateColumn>
</QuickGrid>

@code 
{
    IQueryable<Product>? products;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        List<Product>? listProducts = await api.GetFromJsonAsync<List<Product>>($"api/product/getlist");

        if (listProducts is not null)
        {
            products = listProducts.AsQueryable();
        }
    }

    void Edit(Product product)
    {
        nav.NavigateTo($"/ProductEdit/{product.Id}");   
    }
}


